POSTGRES_DB=flysight
POSTGRES_USER=flysight
POSTGRES_PASSWORD=flysight

DATABASE_URL=postgres://flysight:flysight@postgres:5432/flysight

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=2h
CORS_ORIGIN=http://localhost
RATE_LIMIT_MAX=300

EBIRD_API_KEY=6m0k41nel9ec
EBIRD_MAX_RESULTS=500
